.ql-editor {
  color: white; /* Text color */
}

.ql-snow .ql-stroke {
  stroke: white !important; /* Icon stroke color */
}

.ql-snow .ql-fill {
  fill: white !important; /* Icon fill color */
}

.ql-snow .ql-picker-label {
  color: white; /* Dropdown text color */
}

.ql-snow .ql-picker-options {
  background-color: #374151; /* Dropdown background color */
  color: white; /* Dropdown text color */
  border: 1px solid #4b5563; /* Dropdown border color */
}
